<!--Home-->
<div class="Home-Container">
  <div class="Home-InnerDivision">
    <nav class="Home-Nav">
      <div class="Home-Image">
        <img [src]="">
      </div>

      <div class="Home-Text">
        <input type="text" placeholder="Search Courses,Institutions and more..">
      </div>


      <div class="Home-Login">
        <button>Login</button>

      </div>
      <div class="Home-Started">
        <button>Get Started</button>
      </div>
    </nav>



  </div>




</div>
<!--Study Section-->
<div class="Study-Container">
  <div class="Study-InnerDivision">
    <div class="Study-section1">
      <h1>
        Studying Abroad Simplified
      </h1>
      <p class="Study-p">
        Get matched, apply and chat. It's that simple!
      </p>
      <button>
        Get Started
      </button>
    </div>
    <div class="Study-section2">
      <img [src]="StudyImage">
    </div>
  </div>

</div>
